<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="cellsize_Horizontal" value="200"/>
        <add key="cellsize_Vertical" value="200"/>
        <add key="Diff_Between_Top_Bottom_Horizons_Depth" value="100"/>
        <add key="Fluid_contact_Depth" value="3000"/>
    </appSettings>
</configuration>